@use "../custom" as *;

.hobby-photos {
  display: flex;
  justify-content: center;
  .card {
    margin: 1rem 0 0 2rem;
  }
  .kraton {
    margin-top: 3rem;
  }
  .kraton-p {
    margin-top: 5rem;
  }

  .giant-bike {
    margin-top: 3rem;
  }

  @include media-breakpoint-down(md) {
    .card {
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      justify-content: center;
    }
  }
}
